/*
filename: style.css
author: Le Quang Dinh, Bui Minh Duc, Nguyen Xuan Nang Mai
created: 08/02/2025
last modified: 02/2025
description: Project Part 1
*/

* {
  font-family: 'Inter', sans-serif;
}

.jobs {
  display: flex;
  align-items: flex-start; /* Aligns items at the top */
  max-width: 1700px;
  margin: 0 auto;
  padding: 20px;
}

.jobs-content {
  flex: 1; /* Takes up remaining space */
  padding-right: 20px; /* Creates space between content and aside */
}

aside {
  text-align: center;
  position: sticky;
  width: 25%;
  top: 180px; /* Starts sticking */
  background-color: rgba(255, 211, 175, 0.9);
  border: 6px inset #ff5b0f;
  border-radius: 12px;
  padding: 4px;
  margin-left: auto; /* Moves aside to the right */
}

h1 {
  text-decoration: overline underline;
  text-decoration-color: #ff5b0f;
  font: 2.6em 'Verdana', sans-serif;
}

h2, em {
  color: #ff5b0f;
}

.menu {
  text-decoration: none;
  padding: 0.2em 0.6em;
  border: 2px solid #ff5b0f;
}

footer {
  background-image: url('footer.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px
}

footer a {
  text-decoration: underline;
  color: white;
}

footer li {
  list-style-type: none;
}

button {
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
#to-apply {
    background-color: white; 
    border: 2px solid #ff5b0f;
  }
  
#to-apply:hover {
    background-color: #ff5b0f;
    color: white;
  }

.logo {
  width: 100px;
  height: auto;
}