/*
filename: style.css
author: Le Quang Dinh, Bui Minh Duc, Nguyen Xuan Nang Mai
created: 08/02/2025
last modified: 19/02/2025
description: Project Part 1
*/

body {
  font-family: 'Inter', sans-serif;
}

.jobs {
  display: flex;
  align-items: flex-start; /* Aligns items at the top */
  max-width: 1700px;
  margin: 0 auto;
  padding: 20px;
}

.jobs-content {
  flex: 1; /* Takes up remaining space */
  padding-right: 20px; /* Creates space between content and aside */
}

.jobs h1 {
  text-decoration: overline underline;
  text-decoration-color: #ff5b0f;
  font: 2.6em 'Verdana', sans-serif;
}

.jobs h2, em {
  color: #ff5b0f;
}

.jobs h2 {
  font-size: 2em;
}

.menu {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul li {
  list-style: none;
  display: inline-block;
  margin: 0 30px;
  position: relative;
}

.menu ul li a {
  text-decoration: none;
  color: #ff5b0f;
  font-size: 18px;
}

.menu ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background: #ff5b0f;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.menu ul li:hover{
  transform: scale(1.2);
}

.menu ul li:hover::after {
  width: 100%;
}

.logo {
  width: 120px;
  cursor: pointer;
}

aside {
  text-align: center;
  position: sticky;
  width: 25%;
  top: 180px; /* Starts sticking */
  background-color: rgba(255, 211, 175, 0.9);
  border: 6px inset #ff5b0f;
  border-radius: 12px;
  padding: 4px;
  margin-left: auto; /* Moves aside to the right */
}

footer {
  background-image: url('footer.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px
}

footer a {
  text-decoration: underline;
  color: white;
}

footer li {
  list-style-type: none;
}

.responsibilities, .essential {
  padding: 2px 10px 2px 10px;
  width: fit-content;
}

.responsibilities {
  border: 5px hidden;
  border-radius: 8px;
  background-color: rgba(255, 211, 175, 0.9);
}

.essential {
  border: 5px double #ff5b0f;
  border-radius: 4px;
}
  
#to-apply {
    background-color: white; 
    border: 2px solid #ff5b0f;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.6s;
}
  
#to-apply:hover {
    background-color: #ff5b0f;
    color: white;
}
